asn1crypto==0.24.0
bcrypt==3.1.4
cffi==1.11.4
cryptography==2.1.4
enum34==1.1.6
gevent==1.3b2
greenlet==0.4.13
idna==2.6
ipaddress==1.0.19
paramiko==2.4.0
pbr==1.10.0
Pillow==3.1.2
pyasn1==0.4.2
pycparser==2.18
PyNaCl==1.2.1
PyOpenGL==3.0.2
Pyrex==0.9.8.5
six==1.10.0
spur==0.3.20
stevedore==1.19.0
unity-lens-photos==1.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
gunicorn==19.7.1
whitenoise==3.3.1
